---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import ContactFormSection from "../components/ContactFormSection.astro"
import { SITE_TITLE_CONTACT, SITE_DESCRIPTION_CONTACT } from "../consts";
import { ClientRouter } from 'astro:transitions';
import HeaderBlog from "../components/HeaderBlog.astro";

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE_CONTACT} description={SITE_DESCRIPTION_CONTACT} />
   
  </head>

  <body>
    <ClientRouter />
    <HeaderBlog />
    <ContactFormSection />
    <Footer />
  
  </body>
</html>
