---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
import FeaturedSection from "../components/FeaturedSection.astro";
import PortfolioSection from "../components/PortfolioSection.astro";
import ContactFormSection from "../components/ContactFormSection.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BlogSection from "../components/BlogSection.astro";
//import transitions effect
import { ClientRouter } from 'astro:transitions';


---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  
  </head>

  <body>
    <ClientRouter />
    <Header />
    <HeroSection />
    <FeaturedSection />
    <PortfolioSection />
    <BlogSection />
    <ContactFormSection />
    <Footer />
  
  </body>
</html>
